<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'ideas/css/main.css' %}">
    <title>My SW Idea Manage</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-logo" href="{% url 'idea-list' %}">My SW Idea Manage</a>
            <div class="navbar-info">
                <a href="{% url 'ideas:idea-form' %}" class="navbar-link idea-register">아이디어 등록</a>
                <a href="{% url 'ideas:idea-list' %}" class="navbar-link idea-manage">아이디어 관리</a>
                <a href="{% url 'devtools:devtool-form' %}" class="navbar-link devtool-register">개발툴 등록</a>
                <a href="{% url 'devtools:devtool-list' %}" class="navbar-link devtool-manage">개발툴 관리</a>
            </div>
        </nav>
    </header>
    <main>
        <img>
        <div class="idea-list-group">
            <div class="idea-list-title">
                <h2>Idea List</h2>
                <p>나의 아이디어를 잊지 말고 기록해보세요</p>
            </div>
            <div class="idea-list-content">
                
            </div>
        </div>
    </main>
</body>
</html>